<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HibernateConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitHibernate</display-name>
    <servlet-name>InitHibernate</servlet-name>
    <servlet-class>hibernetpack.InitHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernate</servlet-name>
    <url-pattern>/InitHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProducts</display-name>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>hibernetpack.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/ListProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>hibernetpack.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails2</display-name>
    <servlet-name>ProductDetails2</servlet-name>
    <servlet-class>hibernetpack.ProductDetails2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails2</servlet-name>
    <url-pattern>/ProductDetails2</url-pattern>
  </servlet-mapping>
</web-app>