<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2_Assisted Practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetHandler</display-name>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>servlet.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/GetHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostHandler</display-name>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>servlet.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/PostHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>servlet.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginLogutServlet</display-name>
    <servlet-name>LoginLogutServlet</servlet-name>
    <servlet-class>servlet.LoginLogutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogutServlet</servlet-name>
    <url-pattern>/LoginLogutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutDashboard</display-name>
    <servlet-name>logoutDashboard</servlet-name>
    <servlet-class>servlet.logoutDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutDashboard</servlet-name>
    <url-pattern>/logoutDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoJDBC</display-name>
    <servlet-name>DemoJDBC</servlet-name>
    <servlet-class>JdbcEnv.DemoJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJDBC</servlet-name>
    <url-pattern>/DemoJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>JdbcEnv.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBOperations</display-name>
    <servlet-name>DBOperations</servlet-name>
    <servlet-class>JdbcEnv.DBOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBOperations</servlet-name>
    <url-pattern>/DBOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails2</display-name>
    <servlet-name>ProductDetails2</servlet-name>
    <servlet-class>JdbcEnv.ProductDetails2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails2</servlet-name>
    <url-pattern>/ProductDetails2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails3</display-name>
    <servlet-name>ProductDetails3</servlet-name>
    <servlet-class>JdbcEnv.ProductDetails3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails3</servlet-name>
    <url-pattern>/ProductDetails3</url-pattern>
  </servlet-mapping>
</web-app>